.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 1px rgb(0, 0, 0);
    margin-top: 100px;
  }
  
  .user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(255, 0, 0);
  }
  
  .block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(38, 255, 0);
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 255);
  }